<nav class="navbar  navbar-expand-lg bg-primary"data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">DAW1_CL3_GRUPO1</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/pregunta1">Pregunta 2.1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pregunta2">Pregunta 2.2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/pregunta3">Pregunta 2.3</a>
        </li>
       
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<h1 class="text-center mt-5">BIENVENIDO PROFESOR LUIS SALVATIERRA ¡¡¡</h1>
<h1 class="text-center">Hasta la proxima profe ponganos 20 T_T , feliz dia de las madres¡¡</h1>
<div class="container mt-2 w" style="width: 15%; margin: 0 auto;">
  <img src="https://i.pinimg.com/736x/89/09/3d/89093d422b82b9d9ba4d5db430225163.jpg" style="max-width: 100%; height: auto; max-height: 700px;">
</div>
<p class="text-center mt-5"style="font-size: 17px;">
  Date una vuelta, mueve caderas, baila hasta abajo<br>
Manos al cielo, ojos caramelo, baila saltando<br>
Esa pollerita te queda tan bonita<br>
Warmisitay, dime a quién vas a enamorar (a quién vas a enamorar)<br>
Warmisitay, y-ay<br>
  Warmisitay, y-ay<br>
Al sol vas a enamorar, y-ay<br>
Warmisitay, y-ay<br>
Al sol vas a enamorar
</p>
<router-outlet />
